################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Events/bin/Debug
/Events/obj/Debug
/Events/obj/Release
/Events/.vs/Events/v15
/HomeWork/.vs/HomeWork/v15
