################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Events/bin
/Events/obj
/Events/.vs/Events/v15
/HomeWork/.vs/HomeWork/v15
